.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container {
    background-color: #ECEFF1;
}
.cart-bottom-btn {
    background-color: #2a414f;
    padding: 8px 38px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    border: none;
}
@media screen and (max-width: 1100px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);

    }
}